<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pastelitos Juegos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/first">Primera ideación <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/second">Segunda ideación</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div>
  
<div class="container">
  <h1>Juegos 2S-2023</h1>
  <h3>Integrantes:</h3>
  <h6>Ronald Cabrera</h6>
  <h6>Giancarlo Ortiz</h6>
  <h6>Luis Cañarte</h6>
  <h6>Bryan Medina</h6>
  <h6>Keneth Pacheco</h6> 
</div>