<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pastelitos Juegos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/first">Primera ideación <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/second">Segunda ideación</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Idea</th>
		      <th scope="col">Imagen</th>
		      <th scope="col">Descripción</th>
		      <th scope="col">Autor</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor = 'let idea of tableData'>
		      <th scope="row">{{ idea.idea }}</th>
		      <td class="w-25">
			      <img src="./../../../assets/images/Imagen{{idea.idea}}.png" class="img-fluid img-thumbnail">
		      </td>
		      <td class="wd-40">{{ idea.descripcion }} </td>
		      <td>{{ idea.autor }}</td>
		    </tr>
		  </tbody>
		</table>   
    </div>
  </div>
</div>